.container-fluid {
  width: 100%;
}
.avatarContainer{
    /* position: absolute; */
    /* width: %; */
    width: 50%;
    /* left: -40%; */
}

.avatarButtonContainer{
  /* width: 500px;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center; */
    width: 200%;
  display: flex;
  justify-content: center;

}

.avatarButton{
  margin: 10px;
  padding: 15px;
    border-radius:10px;
    background-color: #0e6cfa6c;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.avatarButtonSel{
  margin: 10px;
  padding: 15px;
    border-radius:10px;
  background-color: #0d6efd;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.inputContainer{
  width: 240%;
  display: flex;
  justify-content: center;
}
.chatBox {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    height: 610px; /* Set the desired height */
    overflow-y: auto;
    border: 1px solid #ccc;
    /* margin-left: 30%; */
    width: 95%;
  }
  
  #controls {
    position: relative;
  }
  
  /* Styles for chat messages */
  .chatMessage {
    padding: 8px;
    margin: 5px;
    max-width: 70%; /* Adjust as needed */
    border-radius: 8px;
    align-self: last ;
  }
  
  .userMessage {
    background-color: #4CAF50; /* Green for user messages */
    color: white;
    align-self: flex-end;
    margin-bottom: 5%;
    margin-left: 85%;
    width: 60px;

  }
  
  .botMessage {
    background-color: #008CBA; /* Blue for bot messages */
    color: white;
    align-self: flex-start;
    margin-bottom: 5%;
  }
  
  /* Styles for input textbox and speak button */
  .inputText {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: calc(100% - 20px);
    margin-right: 10px;
    margin-top: 65%;
    position: sticky;
  }
  
  .speakButton {
    /* position: absolute;
    bottom: 0;
    right: 0; */
    width: 100px;
    margin-top: 65%;
    position: sticky;
  }